@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  color: unset;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Josefin Sans", sans-serif;
  padding: 5rem;
  background-color: #f7f8fd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.2rem;
}
.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
